@{
    ViewBag.Title = "Home Page";
}

<h2>login</h2>
@using (Html.BeginForm("Login", "Seg_usuario", FormMethod.Post))
{
    //this is  create Form tag
    //@Html.AntiForgeryToken() // this is  prevent CSRF attack
        @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.Label("lbUsername")</td>
            <td>@Html.TextBox("txtUsername")</td>
            <td>@Html.ValidationMessage("message")</td>
        </tr>
        <tr>
            <td>
                @Html.Label("lbContrasenna")
            </td>
            <td>
                @Html.Password("txtContrasenna")
            </td>
            <td>
                @Html.ValidationMessage("validationMessage")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
                @*<button type="button" onclick="location.href='@Url.Action("Edit", new { })'" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Editar</button>*@
            </td>
            <td></td>
        </tr>
    </table>
}